[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
django = "*"
pillow = "*"
numpy = "*"
pytesseract = "*"
easyocr = "*"
opencv-python = "*"
channels = "*"
djangorestframework = "*"
pyserial = "*"
reportlab = "*"
pywin32 = "*"
pyusb = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.10"
